<h2>Here's My Dinosaurs</h2>
<form method="GET" action="/dinosaurs">
    <label for="nameFilter">Filter By Name</label>
    <input id="nameFilter" name="nameFilter" type="text"/>
    <input type="submit" value="search"/>
</form>
<ul>
    <% dinos.forEach((dino, index) => { %>
        <li>
            <div>
                <p>Name: <%= dino.name %></p>
                <p>Type: <%= dino.type %></p>
                <form method="POST" action="/dinosaurs/<%= index %>/?_method=DELETE">
                    <input type="submit" value="DELETE" />
                </form>
            </div>
        </li>
    <% }); %>
</ul> 