<form method="POST" action="/dinosaurs">
    <label for="name">Name:</label>
    <input name="name" type="text" id="dinoName" required placeholder="Joe Bruin" />

    <label for="type">Type:</label>
    <input name="type" type="text" id="dinoType" required placeholder="T-Rex" />

    <input id="formSubmit" type="submit" value="Submit" />
</form>